.doctor-view {
    margin-top: 20px;
}

.card {
    width: 300px; /* Approximate width of a credit card */
    height: 190px; /* Approximate height of a credit card */
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor-view .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.doctor-view .card:hover {
    transform: scale(1.05);
}

 .primary{
    background-color: #ffffff;
    opacity: 1;
}

 .secondary{
    background-color: #93df7a;
    opacity: 0.8;
}