/* C:\Projetos\000cmed-mexx\1frontendweb\src\pages\Home\Home.css */
.calendar {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 70%;
    margin: auto;
  }
  
  
  .card {
    
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
   
  }
  .card h2{
    color: #000080
  }
  .card p{
    color: #000080
  }
  .card:hover {
    background-color: #93E9BE;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .health-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px; /* Ajuste conforme necessário */
    height: 150px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color: #000; /* Adiciona a cor preta ao texto */
    transition: all 0.3s ease;
  }
  
  .health-card:hover {
    transform: scale(1.05); /* Faz o card crescer */
    box-shadow: 0 0 10px #93E9BE; /* Adiciona um brilho */
    background-color: #93E9BE; /* Muda a cor de fundo para verde claro */
    
  }
  
  .journey-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }
  
  .main-calendar {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 90%;
    margin: auto;
  }
  .main-calendar h2
  {
    color: #000080;
  }
  
  .marketing-messages {
    background-color: #333;
    color: white;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ajuste conforme necessário */
  }
  
  
  .react-calendar__month-view__weekdays {
    color: #333;
    text-transform: uppercase;
  }
  
  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  
  .react-calendar__navigation button {
    color: #4caf50;
  }
  
  .react-calendar__tile {
    color: #000080;
    align-items: center;
    display: flex;
    justify-content: center; /* Adicionado para centralizar o conteúdo */
  }
  
  .react-calendar__tile--active {
    background-color: #4caf50;
    color: white;
  }
  
  .react-calendar__navigation__label__labelText {
    color: #000080;
    font-size: 1em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna a fonte em negrito */
    text-transform: capitalize; /* Torna a primeira letra maiúscula */
  }
  
  .react-calendar__tile:enabled:focus,
  .react-calendar__tile:enabled:hover {
    background-color: #e6f4ea;
  }
  
  .react-calendar {
    width: 80%; /* Aumente a largura do calendário */
    height: 40%;
    margin: auto;
  }
  
  .react-calendar__month-view__weekdays,
  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas para os dias da semana */
  }
  
  
  .report-card {
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin: 20px auto;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
    width: 50%;
  }
  .report-card h3 {
    color: #000080;
  }
  .report-card p {
    color: #000080;
  }
  .report-card:hover {
    background-color: #93E9BE;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .welcome-banner {
    background-color: #4caf50;
    color: white;
    margin-top: -30px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  
    
  }
  